body {
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
}
div {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: 2px;
  border-style: solid;
  border-color: white;
  background-color: wheat;
}
#bd {
  border-style: solid;
  border-color: black;
  height: 500px;
  width: 500px;
}
.b1 {
  background-color: teal;
}
.b2 {
  width: 300px;
  border-style: dashed;
}
