* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: 25% auto;
  background-color: rgba(209, 216, 220, 0.948);
}
.page {
  display: flex;
}
.main-page {
  width: 200px;
  height: 500px;
  border-radius: 20px;
  padding: 15px;
  background-color: white;
}
.staus-bar {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.main-color {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-color__box {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: aqua;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
h4 {
  font-size: 15px;
  opacity: 0.5;
  margin-bottom: 15px;
}
.active-icon {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.active-icon__text:first-child {
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: black;
}
.active-icon__text:first-child span {
  font-size: 12px;
  color: white;
}
.active-icon__text:last-child {
  margin: auto;
  padding: 10px;
  border: 1px solid wheat;
  border-radius: 20px;
  border-width: 0.2px 0;
}
.color-list__chart {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.color-list__box {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.color-list__boxa {
  background-color: red;
}
.color-list__boxb {
  background-color: blue;
}
.color-list__boxc {
  background-color: green;
}
.color-list__text {
  margin-left: 15px;
}
.color-list__text h4 {
  margin-top: 5px;
  margin-bottom: 8px;
}
.color-list__text span {
  font-weight: 600;
}
.color-list__dot {
  position: absolute;
  right: 0;
  font-size: 20px;
  top: 10px;
  opacity: 0.5;
}

.color-play {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 16px;
  border-radius: 30px;
  background-color: black;
  position: relative;
}
.color-play__text {
  margin-right: 50%;
}
.color-play__text h4 {
  color: white;
  opacity: 0.4;
  margin-bottom: 5px;
}
.color-play__text span {
  color: white;
}
.color-play__icon {
  position: absolute;
  right: 10px;
  top: 35%;
  color: white;
}
.color-play__icon i {
  margin-left: 5px;
  margin-right: 5px;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-box {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 140px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 blue;
  background-color: blue;
}
.view-text {
  margin-bottom: 10px;
}

.play-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: auto 1px 30px 1px;
}
.staus-bar span {
  font-size: 10px;
}
